$font-stack: 'Roboto Condensed', sans-serif;
$font-size: 16px;
$parent-bg: rgba($color: #F7F7F8, $alpha: 0.3);
$bg:rgba($color: #EBF4FA, $alpha: 0.7);
$color:rgba($color: #2D0170, $alpha: 1.0);
$border: rgba($color: #DA304C, $alpha: 0.3);


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-stack;
    font-size: $font-size;
    color: $color;
    background: url("https://cache.desktopnexus.com/cropped-wallpapers/1615/1615284-1280x800-[DesktopNexus.com].jpg?st=urmx9pY4ll3vA1oxyix1LQ&e=1609577884") fixed no-repeat;
    background-size: cover;
}

main {
    flex: 2;
}

section {
    max-width: 600px;
    margin: 50px auto;
}

#results {
    padding: 1rem 2rem;
    background-color: $bg;
    border: 1px solid $border;
    border-radius: 6px;

    div {
        padding: 1rem 2rem;
        background-color: $parent-bg;
    }
}
