<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href= "https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;700&display=swap">
        <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="/src/client/Images/apple-icon.png">
        <title>Language Processing</title>
    </head>

    <body>

        <header>
            <img src= 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdfnr8hLFcnuZlS3-sMtPb9739zaQbAxapbQ&usqp=CAU' class="logo" alt= "Logo of Natural Language Processing">
            <div class="title">Natural Language Processing Application</div>
            <nav class="nav">
                <ul>
                    <li><a href='https://www.meaningcloud.com/' target="_blank">Documentation</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter Text Here">
                    <input type="submit" id="submit" name="" value="Analyse" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>
            <section id="results">
                <div id="formResults"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
            </section>
        </main>

        <footer>
            <div class="footerContainer">
                <p>Using Meaning Cloud Text Analytics<i class="fa fa-copyright"></i> 2021</p>
            </div>
        </footer>
    </body>
</html>
